*
{
    margin: 20px;
}
.padre
{
    background-color: aqua;
    
    padding: 10px 450px 10px 450px;
}
.nivel1
{
    background-color: yellowgreen;
    padding: 20px ;
    border: 500PX;
    border-radius: 500px;
    
}
.nivel2
{
    background-color: coral;
    padding: 20px;
    border-radius: 500px;
}
.nivel3
{
    background-color: yellow;
    padding: 20px;
    border-radius: 500px;
}
.nivel4
{
    background-color: crimson;
    padding: 20px;
    border-radius: 500px;
}
.nivel5
{
    background-color:darkgreen;
    padding: 20px;
    border-radius: 500px;
}
.nivel6
{
    background-color: royalblue;
    padding: 20px;
    border-radius: 500px;
}
.nivel7
{
    background-color:deeppink;
    padding: 20px;
    border-radius: 500px;
}